################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ggxxnet/ggxxnet_project.VC.VC.opendb
