################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ggxxnet/ggxxnet_project.VC.VC.opendb
/ggxxnet/ggxxnet/Debug
/ggxxnet/ggxxnet/Release
/ggxxnet/ggncfg
/ggxxnet/project/Debug/ggxxnet.dll
/ggxxnet/project/Release/ggxxnet.dll
/ggxxnet/bk
